.contenedor {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding: 50px;
    border: 3px solid gray;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor,
.superior,
.medio,
.inferior {
    display: flex;
    gap: 10px;
}

button {
    width: 70px;
    background-color: #008184;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid black;
}
